defaults:
  - representation: painn
_convert_: all
_target_: curator.model.NeuralNetworkPotential
use_cueq: True
input_modules:
  - _target_: curator.layer.PairwiseDistance
    compute_neighbor_list: True
    compute_distance_from_R: False
    cutoff: ${data.cutoff}
output_modules:
  - _target_: curator.layer.AtomwiseReduce
  - _target_: curator.layer.GradientOutput
  - _target_: curator.layer.GlobalRescaleShift
