include README.md
include .github/scripts/check_native_wheel.py

recursive-include curator *.py *.cpp *.yaml
recursive-include scripts *

global-exclude *.pyc
global-exclude __pycache__

include LICENSE
