defaults:
  - annotator: vasp_annotator
  - optional annotator/calc_params: ${annotator/calculator}_params
  - _self_

cfg: null
run_path: .
datapath: null
pool_set: null # This can also be a list
indices: null #sepcify the indices of the pool_set to label
al_info: null # get the active learning information from the previous run

# split labeling jobs to multiple job, only one of imgs_per_job or split_jobs need to be set
split_jobs: null # can be null or int numbers. it means the label jobs will be split into `split_jobs`
imgs_per_job: null # can be null or int numbers. it means the images will be split into `imgs_per_job`
job_order: null # after split jobs, which parts of job need to be labeled